body {width:430px; margin:100px auto; border:1px solid #023586;}
/* header */
header {
    height:56px; padding:0 32px;
    display:flex; justify-content:space-between; align-items:center;
}
header a {}
header a img {}
header p {}
/* nav */
nav {
    height:90px; padding:22px 16px; /* border-top:1px solid #023586; */
    display:flex; justify-content:space-between;
    box-shadow:0 -2px 5px rgba(0,0,0,0.2);
}
nav a {display:flex; flex-flow:column nowrap; justify-content:center; align-items:center;}
nav a img {width:28px; height:28px; margin-bottom:5px;}
nav a span {font-size:0.75rem; font-weight:500; color:#4D81D2;}
nav .nav_contents:nth-child(2) .labeling {color:#023586;}
/* main */
main {padding:0 16px;}
main .title {text-align:left; padding:16px; border-bottom:2px solid #023586;}
main .title h1 {font-size:1.5rem; font-weight:700; color:#023586; margin:16px 0;}
main .title p {font-size:0.75rem; color:#A6A6A6; line-height:1.5;}
main #request_form {margin-top:31px;}
main #request_form .user_info {}
main #request_form .user_info dl {font-weight:500;}
main #request_form .user_info dl dt {}
main #request_form .user_info dl dd {margin:8px 0 18px;}
/* placeholder 폰트 디자인 적용 */
main #request_form .user_info dl dd input::placeholder {color:#686868;}
/* 이메일 선택 select */
main #request_form .user_info dl dd input[name^=user],
main #request_form .user_info dl dd select[name*=mail] {width:398px; height:50px; border:1px solid #023586; border-radius:8px; padding-left:16px; outline:none;}
main #request_form .user_info dl dd input[name*=mail] {width:182px;}
main #request_form .user_info dl dd select[name*=mail] {width:182px;}
main #request_form .user_info dl .select_mail span {width:15px;}
main #request_form .user_info dl .select_mail {
    display:flex; justify-content:space-between; align-items:center;
}
/* 신청 계기 radio */
main #request_form .user_info dl .radio_route {display:flex; flex-flow:column nowrap;}
main #request_form .user_info dl .radio_route .radio {
    margin-bottom:10px; height:33px;
    display:flex; align-content:center;
}
main #request_form .user_info dl .radio_route .radio:last-child {margin-bottom:0;}
main #request_form .user_info dl .radio_route .radio label {font-size:0.875rem; line-height:33px;}
main #request_form .user_info dl .radio_route .radio {margin-bottom:10px; padding-left:10px;}
main #request_form .user_info dl .radio_route .radio input[name=route] {display:none;}
main #request_form .user_info dl .radio_route .radio label {
    background-image:url(../images/paris_unchecked.svg);
    background-repeat:no-repeat; display:inline-block;
    padding-left:40px;
    background-position:0 5px;
    height:33px;
}
main #request_form .user_info dl .radio_route .radio input[name=route]:checked+label {
    background-image:url(../images/paris_checked.svg);
}
main #request_form .user_info dl dd textarea[name=user_contents] {
    width:398px; height:200px; border-radius:8px; border:1px solid #023586; outline:none;
    padding:16px;
}
/* e:신청 계기 radio */

/* 버튼 */
main #request_form .user_info .result {}
main #request_form .user_info .result #request_btn {
    background-color:#023586; width:100%; line-height:55px; color:#fff; font-weight:700;
    border:0; border-radius:30px; margin:14px 0 32px;
}
/* ----------------------------- 매장 소개 ------------------------------------ */
main .category {
    display:flex; justify-content:space-between; align-items:center;
    height:95px; margin-bottom:34px;
}
main .category li {display:flex; flex-flow:column nowrap; align-items:center;}
main .category li img {width:32px; height:32px; margin-bottom:9px;}
main .category li span {font-size:0.75rem; color:#023586;}
/* 1. 프랜차이즈 창업절차 */
main .contents_1 {
    background-image:url(../images/bg1.jpg); height:200px; display:flex; flex-flow:column nowrap;
    justify-content:center; align-items:center;
}
main .contents_1 p {margin-bottom:24px;}
main .contents_1 p img {}
main .contents_1 h2 {font-size:1.5rem; font-weight:500; color:#023586;}
main .contents_1 h2 em {font-weight:700;}
/* 2. 언제 어디서든 파리바게트 */
main .contents_2 {
    background-image:url(../images/bg2.jpg); height:200px; padding:0 32px;
    display:flex; justify-content:space-between; align-items:center;
    margin:48px 0;
}
main .contents_2 h3 {font-weight:500px; line-height:1.2; color:#fff;}
main .contents_2 h3 span {font-size:1.375rem; font-weight:700; line-height:1.6;}
main .contents_2 p {width:183px; text-align:right; font-size:0.75rem; color:#fff; line-height:1.5;}
/* 3. 온 가족 사랑 파리바게트 */
main .contents_3 {height:363px;}
main .contents_3 h3 {font-weight:500px; line-height:1.2; color:#023586; margin-bottom:16px;}
main .contents_3 h3 span {font-size:1.375rem; font-weight:700; line-height:1.6;}
main .contents_3 p {font-size:0.75rem; line-height:1.5; color:#023586;}
main .contents_3 .bread_wrap {padding:32px 16px; display:flex; flex-flow:row wrap; justify-content:space-between; align-content:space-between;}
main .contents_3 .bread_wrap img {width:167px;}
/* 4. 프랜차이즈 창업절차 */
main .contents_4 {margin-top:150px; margin-bottom:32px;}
main .contents_4 h3 {font-weight:500px; line-height:1.2; color:#023586; margin-bottom:16px;}
main .contents_4 h3 span {font-size:1.375rem; font-weight:700; line-height:1.6;}
main .contents_4 .procedure {
    display:flex; flex-flow:row wrap; justify-content:space-between; padding: 0 16px;
}
main .contents_4 .procedure li {
    background-color:#E6D9B7; width:110px; height:137px; justify-content:center;
    display:flex; flex-flow:column nowrap; align-items:center; margin-bottom:16px;
    border-radius:8px;
}
main .contents_4 .procedure li img {width:40px; margin-bottom:20px;}
main .contents_4 .procedure li span {font-size:0.75rem; color:#023586;}